.sbc_container {
    /* border: solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(0.1rem, 2vw, 1rem);
    padding: 0.75rem;

    color: white;
    /* background-color: var(--clg-color-sem-text-primary); */
    background-color: var(--clr-charcoal-grey);
    border-radius: 5px;
}

.sbc_container.success {
    background-color: var(--clr-success);
}
.sbc_container.info {
    background-color: var(--clr-translucent-black);
}
.sbc_container.warning {
    background-color: var(--clr-primary-orange);
}
.sbc_container.error {
    background-color: var(--clr-soft-coral);
}
