.container {
    background-color: rgb(245, 245, 245);
}
.container > div:first-of-type {
    max-width: 800px;
    margin-inline: auto;
}
.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    
}

.categories img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
}