.ti_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ti_container.icon_gap_tiny {
    gap: 0.25rem;
}

.ti_container.icon_gap_medium {
    gap: 0.5rem;
}
.ti_container.icon_gap_large {
    gap: 1rem;
}
.ti_container > input.small {
    padding: 0.5rem 0.5rem;
}

.ti_container > input.medium {
    padding: 0.75rem 0.5rem;
}

.ti_container > input.large {
    padding: 1rem 0.5rem;
}

.ti_container > input {
    flex: 1 1 0;
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
}

.ti_container .ti_input_icon {
    position: relative;
    isolation: isolate;
    line-height: 0;
    aspect-ratio: 1;
    color: var(--clr-white);
    margin-right: 0.5rem;
    cursor: pointer;
}
.ti_container.ar .ti_input_icon {
    margin-right: revert;
    margin-left: 0.5rem;
}

.ti_container.bg_icon_active .ti_input_icon::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: scale(1.4);
    border-radius: 100%;
    transition:
        border-radius 125ms ease,
        transform 125ms ease;
    background-color: var(--clr-vibrant-orange);
}

.ti_container.bg_icon_active .ti_input_icon::before {
    background-color: var(--clr-vibrant-orange);
}
.ti_container.bg_icon_active:focus-within .ti_input_icon::before,
.ti_container.bg_icon_active:hover .ti_input_icon::before {
    border-radius: 0;
    transform: scale(2);
}

.ti_container.bg_icon_active
    .ti_input_icon.ti_input_icon.ti_input_icon:hover::before {
    filter: brightness(1.5);
}
