.container {
    overflow-y: scroll;
    padding: 1rem;
    display: grid;
    align-content: start;
    gap: 1rem;
}

.container.switched {
    animation: fade_in_animate 0.75s;
}

.container > form {
    display: grid;
    gap: 1rem;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head h2 {
    font-weight: 400;
    font-size: var(--fs-500);
}

.container .head h2::first-letter {
    text-transform: capitalize;
}

.input-container > label {
    display: block;
    font-size: var(--fs-300);
    margin-bottom: var(--size-200);
}
.container .input-container > label::first-letter {
    text-transform: capitalize;
}

.rememberme-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.rememberme-container > .rememberme-checkbox-container {
    display: flex;
    align-items: flex-start;
    gap: var(--size-600);
}

.rememberme-checkbox-container > label {
    font-weight: 350;
    font-size: clamp(var(--fs-200), 4vw, var(--fs-400));
    text-align: start;
}

.rememberme-container > .forgot-password {
    color: var(--clr-neutral-grey);
    font-weight: 350;
    font-size: clamp(var(--fs-200), 4vw, var(--fs-400));
    /* border: solid; */
    text-align: end;
    text-wrap: nowrap;
}

.container .divider {
    position: relative;
    margin-block: 2rem;
    width: fit-content;
    margin-inline: auto;
    padding-inline: 0.5rem;
    color: var(--clr-charcoal-grey);
    text-transform: uppercase;
    display: grid;
    place-content: center;
}
.container .divider::after {
    content: '';
    clip-path: inset(calc(50% - 0.5px) -100vmax);
    box-shadow: 0 0 0 100vmax;
    position: absolute;
    inset: 0;
    color: var(--clr-light-black-overlay);
    margin-block: auto;
}

.container .sso-google {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
