.container {
    animation: fade_in_animate 0.75s;
}

.divider::after {
    content: '';
    clip-path: inset(calc(50% - 0.5px) -100vmax);
    box-shadow: 0 0 0 100vmax;
    position: absolute;
    inset: 0;
    color: var(--clr-light-black-overlay);
    margin-block: auto;
}

@keyframes fade_in_animate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
