.container {
    grid-template-areas: 'logo hamburger_search nav_bar';
}
@media (max-width: 786px) {
    .container {
        grid-template-areas:
            'logo nav_bar'
            'hamburger_search hamburger_search';
    }
}
.logo {
    grid-area: logo;
}

.hamburger-search {
    grid-area: hamburger_search;
}

.nav-bar {
    grid-area: nav_bar;
}
