.container {
    position: relative;
    z-index: 1;
    border: 1px solid red;
}

.container .top_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--clg-color-sem-text-primary);
}

.nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    list-style: none;
}

.container.ar .nav_bar {
    margin-left: revert;
    margin-right: auto;
}
.logo img {
    max-width: 75px;
}

.nav_item {
    --tooltip-gap: 10%;
}
.nav_item a {
    display: grid;
    place-content: center;

    color: var(--clr-secondary);
    text-decoration: none;
}
.nav_item {
    position: relative;
    padding: 9px;
    border-radius: 100vmax;
}

.nav_item.text {
    font-weight: 400;
    font-size: clamp(0.65rem, 3.5vw, 1rem);
}


.container .sub_part {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: clamp(0rem, 2vw, 1rem);
}
