.container {
    position: relative;
    text-decoration: inherit;
    color: inherit;
}
.transitioning {
    position: absolute;
    inset: 0;
    height: fit-content;
    width: fit-content;
    margin: auto;
}
