:root {
    /* colors */
    --clr-primary: #f1641e;
    --clr-secondary: #222222;
    --clr-white: white;
    --clr-light-black-overlay: rgba(0, 0, 0, 0.2);
    --clr-dark-gray-overlay: #0e0e0e2e;
    --clr-medium-black-overlay: rgba(0, 0, 0, 0.5);
    --clr-neutral-grey: #808080;
    --clr-charcoal-grey: #595959;
    --clr-light-grey-overlay: #dedede90;

    --clr-soft-coral: #f9746b;
    --clr-blush-pink: #f9e3e2;
    --clr-primary-green: green;
    --clr-translucent-black: rgba(0, 0, 0, 0.75);
    --clr-primary-orange: orange;
    --clr-neon-green: rgb(125, 251, 125);

    /* sizes */

    --error-placeholder-size: 1.45rem;

    --size-200: 0.2rem;
    --size-400: 0.4rem;
    --size-600: 0.6rem;
    --size-800: 0.8rem;
    --size-1000: 1rem;
    --size-1200: 1.5rem;
    --size-1400: 2rem;
    --size-1600: 2.5rem;

    /* font sizes */
    --fs-200: 0.6rem;
    --fs-300: 0.8rem;
    --fs-400: 1rem;
    --fs-500: 1.2rem;
    --fs-600: 1.4rem;
    --fs-700: 1.6rem;
    --fs-800: 1.8rem;
    --fs-900: 2rem;

    /* shadows */
    --inset-shadow-200: inset 0px 1px 4px 0px var(--clr-dark-gray-overlay);

    /* outlines */
    --input-focus-outline: 2px solid var(--clg-color-pal-blue-300);
}

.desktop_container {
    max-width: 1350px;
    margin-inline: auto;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font: none;
    border: none;
    background: none;
}

html {
    overflow: auto;
    background-color: white;
}

button,
select,
input,
textarea {
    font: none;
}

/* default values */
*.rounded {
    border-radius: 0.1rem;
}
*.rounded_1 {
    border-radius: 0.3rem;
}
*.rounded_2 {
    border-radius: 0.5rem;
}
*.rounded_3 {
    border-radius: 1rem;
}
*.rounded_4 {
    border-radius: 2rem;
}
*.pilled {
    border-radius: 100vmax;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.ar *::first-letter {
    text-transform: revert !important;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 100vmax var(--clr-white);
}
input.error:-webkit-autofill:hover,
input.error:-webkit-autofill:active,
input.error:-webkit-autofill:focus,
input.error:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 100vmax var(--clr-blush-pink);
}
.onhover_bg_grey::before {
    content: '';
    position: absolute;
    inset: 0 -0.25rem;
    background: var(--clr-light-grey-overlay);
    border-radius: 100vmax;
    z-index: -1;
    transform: scale(0);
    transition: transform 0.1s ease;
}
.onhover_bg_grey:hover::before {
    transform: scale(1);
}