.container::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    aspect-ratio: 1;
    background-color: var(--clr-light-black-overlay);
    border-radius: 100%;
    box-shadow: 0 0 0 10px var(--clr-light-black-overlay);
    transform: scale(0);
    transition: transform 0.2s;
}
.container:hover::before {
    transform: scale(1);
}
