.ms_container {
    border: solid red;
    position: fixed;
    z-index: 3;
    inset: 0;
    animation: ms_container_in_animate 0.5s forwards;
}

.ms_container.ms_quitting {
    animation: ms_container_out_animate 0.5s;
}

.ms_container > input {
    display: none;
}

@keyframes ms_container_in_animate {
    from {
        background-color: transparent;
    }
    to {
        background-color: var(--clr-medium-black-overlay);
    }
}
@keyframes ms_container_out_animate {
    from {
        background-color: var(--clr-medium-black-overlay);
    }
    to {
        background-color: transparent;
    }
}

.ms_container .ms_content {
    position: absolute;
    display: grid;
    grid-template-rows: 0fr;
    /* padding-inline: 1rem; */

    inset: auto 0 0 0;
    width: 100%;
    height: 85%;
    /* border: solid green; */
    background-color: white;
    color: var(--clr-secondary);
    border-radius: 20px 20px 0 0;
    opacity: 0;
    transform: translateY(100px);
    
    animation: 0.25s forwards
        cubic-bezier(0.74, 2.01, 0.69, 0.86);
}
.ms_container.animate_to_top .ms_content {
    animation-name: content_top_animation_in;
}
.ms_container.animate_to_center .ms_content {
    animation-name: content_center_animation_in;
}
.ms_container.is_desktop .ms_content { 
    width: clamp(25rem, 40%, 30rem);
    inset: 0;
    margin: auto;
    transform: revert;
    border-radius: 20px;
}


.ms_container input:checked + .ms_content,
.ms_container.ms_quitting .ms_content {
    animation: 0.1s linear;
}
.ms_container.ms_quitting.animate_to_top .ms_content {
    animation-name: content_top_animation_out;
}
.ms_containe.animate_to_centerr.ms_quitting .ms_content {
    animation-name: content_center_animation_out;
}

.ms_container .ms_title_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem 1.5rem;
    padding-inline: 1rem;
}
.ms_container .ms_title_container h2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.ms_container .ms_title_container .ms_close_icon {
    opacity: 0;
    animation: fade_in_animate 0.75s forwards 0.45s;
}
.ms_container .ms_close_icon.floating {
    position: absolute;
    right: 0;
    transform-origin: 0 100%;
    transform: translateY(-100%);
    color: white;
}
@media screen and (min-width: 900px){
    .ms_container .ms_close_icon.floating {
        transform: translateY(-100%) translateX(100%) rotateZ(90deg);
    }
}

@keyframes content_top_animation_in {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes content_top_animation_out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(100px);
    }
}

@keyframes content_center_animation_in {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes content_center_animation_out {
    
    to {
        opacity: 0;
        transform: scale(0);
    }
}
