.form_child.ic_container {
    padding-bottom: var(--error-placeholder-size);
}

.form_child.ic_container.error {
    padding-bottom: 0;
}

.ic_input_container {
    isolation: isolate;
    /* margin-bottom: 0.45rem; */
    overflow: hidden;
}
.ic_input_container.bordered {
    border: 1px solid var(--clr-secondary);
}
.ic_input_container.dotted {
    border: 1px dotted var(--clr-secondary);
}
.ic_input_container.border_light {
    border-color: var(--clr-dark-gray-overlay);
}
.ic_input_container.inset_shadow {
    box-shadow: var(--inset-shadow-200);
}

.ic_input_container.pilled {
    border-radius: 100vmax;
}

.ic_input_container.error {
    border-color: var(--clr-soft-coral);
    background-color: var(--clr-blush-pink);
}
.ic_input_container.valid {
    border-color: var(--clr-neon-green);
}

.ic_error {
    --mt: 0.45rem;
    font-weight: 300;
    font-size: var(--fs-300);
    color: var(--clr-soft-coral);
    height: calc(var(--error-placeholder-size) - var(--mt));
    margin-top: var(--mt);
}

.ic_error::first-letter {
    text-transform: uppercase;
}

.ic_input_container:focus-within {
    outline: var(--input-focus-outline);
    outline-offset: 1.5px;
}

.ic_input_container.error:focus-within {
    /* outline-color: var(--clr-soft-coral); */
}
